* {
  margin: 0;
  padding: 0;
  background-color: #232323;
  color: white;
}

.nohint {
  visibility: hidden;
}

#ruleboard {
  clear: left;
}

.center {
  display: inline-block;
  width: 100%;
  text-align: center;
}
